# Default is 8081
port = {{port}}

# The name of the service suite
name = Village

mongo.bootstraps = {{mongo-bootstraps}}

authentication.reuse                = true
authentication.shouldAuthenticate   = true
authentication.timeout.minutes      = {{auth-timeout}}
authentication.rpc.port             = 1111

serverInOut.filePath  = {{server-in-file}}
serverInOut.checkTime = 30000

netty.worker.factor = {{netty-worker-factor}}

images.path                 = ./images
images.thumbnails.width     = 50
images.thumbnails.height    = 50

#
# NOTE!
# 
# Village calls this the "whittaker.host" but a) it is really a URL and 
# b) it is the URL for IDM, not whittaker.
#
whittaker.host                  = {{whittaker-url}}
whittaker.max.connections       = 20
whittaker.max.connections.route = 20
whittaker.sotimeout             = 5000
whittaker.connection.timeout    = 5000

keystore.internalTokenKey	= {{keystore.internal-token-key}}
keystore.coursePersona		= {{keystore.course-persona}}
keystore.socialLearningHome	= {{keystore.social-learning-home}}

statsd.host = {{statsd.host}}
statsd.port = {{statsd.port}}
